.navMenuItem_bottomBorder {
  animation: scaleRight 1s forwards 5s;
}
.navMenuItem {
  animation: lazyLoad 1s forwards 5s;
}
.navMenuItem2 {
  animation: lazyLoad 1s forwards 5.1s;
}

.navMenuItem3 {
  animation: lazyLoad 1s forwards 5.2s;
}

.navMenuItem4 {
  animation: lazyLoad 1s forwards 5.3s;
}

.navMenuItem5 {
  animation: lazyLoad 1s forwards 5.4s;
}

@keyframes scaleRight {
  100% {
    width: 24rem;
  }
}
@keyframes lazyLoad {
  100% {
    opacity: 1;
  }
}

.iconTextCard_boxShadow {
  box-shadow: 10px 10px 20px #d9d5c3, -10px -10px 20px #fffff3;
}
